

.img_checkbox {
    width: 25%;
    margin: 5%;
    
}

.img_checkbox label{
    background-image: url(../img/work.jpg);
    background-repeat: no-repeat;
    padding: 5%;
   text-overflow: hidden;
}

.img_checkbox input[type=checkbox]{
    display: none;
}